<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test email z The Kudo Archive</h1>
    <p>To jest testowy email wysłany przez Rails.</p>
    <p>Jeśli to widzisz, konfiguracja SMTP działa poprawnie!</p>
  </body>
</html>